body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  color: rgb(27, 24, 24);
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

span {
  font-size: 16px;
}
p {
  font-size: 14px;
}
